<div class="main-fab" style="position:fixed; right:-10%; top:6%;">
  <md-button ng-click="newFunction()" class="md-fab md-accent">+</md-button>
</div>
<table md-colresize="md-colresize" class="md-table">
  <thead>
    <tr class="md-table-headers-row">
      <th ng-repeat="h in headers" class="md-table-header">
        <a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}}
          <md-icon ng-show="reverse &amp;&amp; h.field == predicate" md-svg-icon="img/icon/ic_arrow_drop_up_black_24px.svg"></md-icon>
          <md-icon ng-show="!reverse &amp;&amp; h.field == predicate" md-svg-icon="img/icon/ic_arrow_drop_down_black_24px.svg"></md-icon>
        </a>
        <span ng-if="!handleSort(h.field)">{{h.name}}</span></th>
      <th class="md-table-header"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in linhas track by $index" class="md-table-content-row">
      <td ng-repeat="h in headers" ng-class="customClass[h.field]" class="md-table-content">
        {{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}
      </td>
      <td class="md-table-content">
        <md-button ng-click="editar($index)" class="md-icon-button md-primary" aria-label="Editar">
          <md-icon md-svg-icon="img/icon/ic_build_black_9px.svg"></md-icon>
        </md-button>
        <md-button ng-click="excluir($index)" class="md-icon-button md-primary" aria-label="Excluir">
          <md-icon md-svg-icon="img/icon/ic_delete_black_9px.svg"></md-icon>
        </md-button>
      </td>
    </tr>
  </tbody>
</table>
<div layout="row" class="md-table-footer">
  <span class="md-table-count-info">
    Rows per page : <a href="" ng-click="pagina.linhasPorPag=5; goToPage(1);">5</a>
    ,<a href="" ng-click="pagina.linhasPorPag=10;goToPage(1);">10</a>
    ,<a href="" ng-click="pagina.linhasPorPag=20;goToPage(1);">20</a>
    ,<a href="" ng-click="pagina.linhasPorPag=30;goToPage(1);">30</a>
    (current is {{pagina.linhasPorPag}}) Current Page: {{pagina.pagNum}} of {{pagina.numPags}}
  </span>
  <span flex="flex"></span>
  <span ng-show="nbOfPages() &gt; 1">
    <md-button ng-disabled="pagina.pagNum==1" ng-click="andapag(-1)" aria-label="Previous Page" class="md-primary md-hue-2">
      <md-icon style="font-size:16px;" md-svg-icon="img/icon/ic_chevron_left_black_24px.svg"></md-icon>
    </md-button>
    <md-button ng-disabled="pagina.pagNum==nbOfPages()" ng-click="andapag(1)" aria-label="Next Page" class="md-primary md-hue-2">
      <md-icon style="font-size:16px;" md-svg-icon="img/icon/ic_chevron_right_black_24px.svg"></md-icon>
    </md-button>
    <a ng-repeat="i in getNumber(nbOfPages()) track by $index">
      <md-button ng-click="goToPage($index+1)" class="md-primary md-hue-2 md-table-footer-item">
        <span ng-class="{ 'md-table-active-page': pagina.pagNum==$index+1}">{{$index+1}}</span>
      </md-button>
    </a>
  </span>
</div>
